html,
body {
    margin: 0;
    padding: 0;
    background: black;
    color: #eee;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

main {
    min-width: 20em;
    max-width: 50em;
    margin: auto;
    padding: 1em;
}

@font-face {
    font-family: 'Whatever';
    src: url(\\@resource "whatever.woff2"//) format('woff2');
}
